body,
hr {
  margin: 0;
}

.parts-and-accessories-section {
  max-width: 1366px;
  margin: auto;
  padding: 30px 50px 50px 50px;
}

.show {
  display: flex !important;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tambike-image {
  height: 100px;
  width: 200px;
  user-select: none;
  cursor: pointer;
  transform: scale(1.3);
}

.header-tab-text-container {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  gap: 20px;
  user-select: none;
  cursor: pointer;
  height: fit-content;
}

.tab-text {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.tab-text:hover {
  background-color: #f5f5f5;
}

.motorcycle-tab-conntainer {
  position: relative;
}

.dropdown-content {
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
  display: none;
  flex-direction: column;
  margin-top: 5px;
  border-radius: 5px;
  font-weight: normal;
  padding: 10px 0;
  font-size: 20px;
}

.motorcycle-tab-conntainer:hover .dropdown-content {
  display: flex;
}

.dropdown-content span:hover {
  background-color: #ececec;
}

.dropdown-item {
  padding: 5px 5px 5px 25px;
}

/* Mobile */
.menu-icon {
  width: 50px;
  height: 50px;
}

.mobile-menu-container {
  position: absolute;
  right: 20px;
  user-select: none;
}

.mobile-menu-dropdown-container {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 0;
  background-color: #f5f5f5;
  min-width: 180px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  padding: 10px;
  gap: 10px;
  font-size: 20px;
  border-radius: 5px;
}

.mobile-menu-item-motorcycle-tab-container {
  position: relative;
}

.mobile-menu-item-text {
  font-weight: bold;
}

.mobile-menu-dropdown-content {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  margin-left: 30px;
}
/* Mobile end */
/* Header end */

/* Product */
.product-detail-container {
  min-height: 100vh;
  margin-top: 30px;
}

.product-name-text {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.list-of-product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.product-container {
  border: 1px solid black;
  height: fit-content;
  width: 250px;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 30px;
}

.product-container:hover {
  transform: scale(1.1);
}

.product-image-container {
  display: flex;
  justify-content: center;
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.details-container {
  display: flex;
  flex-direction: column;
  /* margin-top: 30px; */
  gap: 10px;
}

.product-name {
  font-size: 20px;
  min-height: 50px;
}

.product-price {
  font-size: 25px;
}

/* Product end */

/* Footer */
footer {
  background-color: rgba(51, 51, 51, 0.95);
  min-height: 200px;
}

.footer-icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 50px;
}

.footer-icon {
  font-size: 50px;
  color: aliceblue;
}

.footer-text-container {
  text-align: center;
  color: whitesmoke;
  font-size: 13px;
  margin-top: 20px;
}

.footer-site-text {
  font-size: 17px;
  margin-top: 30px;
}

.blue-text {
  color: #006fff;
}

.-pointer {
  cursor: pointer;
  user-select: none;
}
/* Footer end */

/* Responsive */
@media only screen and (max-width: 1000px) {
  .header-tab-text-container {
    display: none;
  }

  .header-container {
    justify-content: center;
  }

  .tambike-image {
    transform: scale(1);
  }

  .product-container {
    width: 200px;
  }
}

@media screen and (max-width: 999px) and (min-width: 601px) {
  .mobile-menu-container {
    position: absolute;
    right: 50px;
    user-select: none;
  }

  .tambike-image {
    transform: scale(1.3);
  }
}

@media only screen and (min-width: 1001px) {
  .mobile-menu-container {
    display: none;
  }
}
